version: '3.9'

services:
  app:
    image: ${DOCKERHUB_USERNAME}/triply-backend:${IMAGE_TAG}
    container_name: triply-backend-app
    restart: always
    env_file:
      - .env.prod # 앱 컨테이너 내부에서 사용할 환경 변수
    ports:
      - '3000:3000'
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    container_name: triply-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
