services:
  app:
    image: ${DOCKERHUB_USERNAME}/triply-backend:${IMAGE_TAG}
    container_name: triply-backend-app
    restart: always
    env_file:
      - .env.prod # 앱 컨테이너 내부에서 사용할 환경 변수
    ports:
      - '3000:3000'
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: triply-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    command: ['--default-authentication-plugin=mysql_native_password']
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ['CMD', 'mysqladmin', 'ping', '-h', 'localhost']
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

volumes:
  mysql_data:
